body {
    /*font-family: Arial, sans-serif;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

/*main {*/
/*    padding: 20px 0;*/
/*}*/

section {
    padding: 30px 0;
}

section.bg-light {
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 10px;
}